<div layout="row">
    <div flex="80">
    	<h4>{{welcomeMsg}}</h4>
    	<div ng-repeat='chat in chats'>
	    	<md-card>
	        	<form>
	        		<div layout="row">
			    		<div flex="90">
			    			<h5>Chat between {{chat.id1}} and {{chat.id2}}</h5>
			    			<md-input-container class="md-block">
        						<input type="text" ng-model="message" placeholder="type here...">
      						</md-input-container>
			    		</div>
			    		<div flex="10">
			    			<md-button class="md-fab md-primary" type="submit" ng-click="sendMessage(chat.id1, chat.id2, message);">Send</md-button>
			    		</div>
		    		</div>
	        	</form>
	        	<md-list ng-repeat='data in chat.history'>
	        		<md-list-item>
			            <p>{{data.sender}} : {{data.message}}</p>
			        </md-list-item>
	        	</md-list>
		    </md-card>
	    </div>
    </div>
    <div flex="20">
    	<h4>Available people : </h4>
    	<div ng-repeat='people in available_people'>
	    	<md-card ng-click="sendRequest(people.id, people.name);">
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-subhead">{{people.name}}</span>
		          </md-card-title-text>
		        </md-card-title>
		    </md-card>
	    </div>

	    <h4>Request sent : </h4>
    	<div ng-repeat='people in sentRequestPeople'>
	    	<md-card>
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-subhead">{{people.name}}</span>
		          </md-card-title-text>
		        </md-card-title>
		    </md-card>
	    </div>

	    <h4>Request received : </h4>
    	<div ng-repeat='people in requestReceivedPeople'>
	    	<md-card ng-click='sendAcceptance(people.id, people.name)'>
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-subhead">{{people.name}}</span>
		          </md-card-title-text>
		        </md-card-title>
		    </md-card>
	    </div>
    </div>
</div>